Launcher3=launcher
null=TalpaTheme
null=ChangeWallpaper
SprdContacts=Dialtact
Dialer=Dialtact
talpaContacts=Dialtact
Contacts=Dialtact
Mms=message
MtkMms=message
messaging=message
MmsFolderView=message
null=Netmanager
null=OS_PluginService
null=OTA
null=SetupWizard_sprd
SystemUI=SystemUI6
DeskClock=talpa_deskclock
DeskClock=talpa_deskclock
null=talpacollect
null=talpaConfig
launcher=null
TalpaTheme=null
ChangeWallpaper=null
Dialtact=null
message=null
Netmanager=null
OS_PluginService=null
OTA=null
SetupWizard_sprd=null
SystemUI6=null
talpa_deskclock=null
talpacollect=null
talpaConfig=null
deskclock_talpa=null
message_talpa=null
talpatheme=null
systemui6.0=null
dialer=null
systemui6_talpa=null
launcher_talpa=null
dialer_talpa=null
ota_talpa=null
